.main-seach {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.navbar-nav a {
    padding: 1rem;
    text-decoration: none;
    color: #000;
}

.navbar-nav a:hover {
    background: #d1d1d1;
    border-radius: 0.4rem;
}

.cst-icon-div {
    position: relative;
    width: 50px;
    height: 50px;
}

.cst-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cst-icon i {
    font-size: 1.2rem;
}

.carousel-item {
    height: calc(100vh - 160px);
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.cst-background {
    background: #ef3b24;
}

.cst-icon::before {
    color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.list-style-none li {
    list-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: contain;
}

.desc {
    margin-top: 0;
    margin-bottom: 1rem;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work-title {
    overflow: hidden;
    white-space: nowrap;
}

.cst-text-area {
    width: 100%;
    border-radius: .4rem;
}

.cst-background {
    background: rgb(66, 66, 66);
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.cst-background {
    background: #f0f0f0;
}

.cst-changeBackground {
    background: #000;
    color: #fff;
}

.cst-background-text {
    background: #000;
}